@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

:root {
  font-size: 62.5%;
}

@media (width <= 992px) {
  :root {
    font-size: 50%;
  }
}

@media (width <= 678px) {
  :root {
    font-size: 40%;
  }
}

body {
  background: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
